In [ ]:
print("Hello World")

In [14]:
var = 4
print(3/4)
print(3//4)
print(3%4)

0.75
0
3

In [4]:
print("HOLD SHIFT + PRESS ENTER")

Hello World
HOLD SHIFT + PRESS ENTER

In [2]:
x, y, z = 5, 4.56, "fafwef"

x_float = float(x)

type(x_float)

float

In [9]:
print("Hold control key + click cursor to the left for multiple line coding")
print("Hold control key + click cursor to the left for multiple line coding")
print("Hold control key + click cursor to the left for multiple line coding")

Hold control key + click cursor to the left for multiple line coding
Hold control key + click cursor to the left for multiple line coding
Hold control key + click cursor to the left for multiple line coding

In [9]:
print("Hold control key + click cursor to the left for multiple line coding")
print("Hold control key + click cursor to the left for multiple line coding")
print("Hold control key + click cursor to the left for multiple line coding")

Hold control key + click cursor to the left for multiple line coding
Hold control key + click cursor to the left for multiple line coding
Hold control key + click cursor to the left for multiple line coding

In [36]:
a = "I am alive today"; b = "hello"; c ="234"

"a" in a and "e" in b or "t" in c and 7 in c

name = "12"
eval(name)

12

In [74]:
str1 ="olateru olu"; str2 = "I am alive"

str1.capitalize() + " " + str2

str1.count("l")

# "o" in str1

string = """CLEAN%`` AME& AJDI &AKDIIE """

a= string.replace('%', "").replace("&", "2").replace("``", "").upper()

print(a)

len(a)

CLEAN AME2 AJDI 2AKDIIE

24

In [70]:
robot = "technologically"

consoles = "ps4 is cooler than xbox!"

words = "I saw a cat jump over the moon and into the clouds"

new_words = "I saw a cow fly over the gate and into the forest"

paid = "I received a total $50000"

In [71]:
robot[6:13]

'logical'

In [72]:
consoles.endswith("!")

True

In [93]:
code = "ply2t3h4o5n6i7c8"

#len(code)

code[0::2][::-1]

'cinohtyp'

In [74]:
var = words.split()

var[3:12:2]

['cat', 'over', 'moon', 'into', 'clouds']

In [75]:
new_words

'I saw a cow fly over the gate and into the forest'

In [76]:
s1 = slice(3,12,2)

new_words.split()[s1]

['cow', 'over', 'gate', 'into', 'forest']

In [77]:
var[s1]

['cat', 'over', 'moon', 'into', 'clouds']

In [85]:
"cat" in words and "fly a" in new_words

False

In [95]:
" ".join(var)

'I saw a cat jump over the moon and into the clouds'

In [99]:
paid.split("$")[1]

'50000'

In [103]:
name, grade = "Olu", "C+"

"My name is {} and grade is {}".format(name, grade)

'My name is Olu and grade is C+'

In [120]:
animal = ['Ola', "Igala", "Aja"]

#"I saw {}, {} and {}".format(animal[0].upper(), animal[1], animal[2])

#"I saw {}, {} and {}".format(*animal)

animal[0][::-1].lower()

'alo'

In [130]:
num = "60"

eval(num) + 10

numbers = [10, 20, 30, 40]

eval("{2} + {2} + {0} + {0}".format(*numbers))

80

In [131]:
name = "awesome"

"The word {} has {}  number of characters".format(name, len(name))

'The word awesome has 7  number of characters'

In [148]:
"%d * %d = %f" % (3, 5, (9/2))

'3 * 5 = 4.500000'

In [166]:
"Days left is {num: .1f}"\
.format(num = int(300/9))

'Days left is  33.0'

In [160]:
num  = 300/9

#num = int(num)

f"days left is {int(num)}"

'days left is 33'

In [173]:
p1 = "Python"; p2 ="older"

f"""This is a doctring that uses {p1} 3.6 and
can't be used for {p2} versions of {pi}""".replace("\n", " ").upper

"This is a doctring that uses Python 3.6 and can't be used for older versions of Python"