In [7]:
for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

In [15]:
cats = ('tiger', 'luion', 'leopard')

for cat in cats:
    print(cat)

tiger
luion
leopard

In [13]:
a = 3
for num in range(1, 13):
    print(a, "x", num, "=", a*num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

In [16]:
nest1 = [[20, 30, 40], [2, 3, 4], ["sword", "hammer", 'shield']]

for i in range(3):
    print(nest1[i])

[20, 30, 40]
[2, 3, 4]
['sword', 'hammer', 'shield']

In [20]:
for i in range(3):
    p = nest1[0][i] + nest1[1][i]
    print(nest1[2][i].capitalize()+": Power Level = ", p)

Sword: Power Level = 22
Hammer: Power Level = 33
Shield: Power Level = 44

In [22]:
power = []

for i in range(3):
    p = nest1[2][i].capitalize() + ": Power Level = " + str(nest1[0][i] + nest1[1][i])
    power.append(p)

power

['Sword: Power Level = 22',
 'Hammer: Power Level = 33',
 'Shield: Power Level = 44']

In [28]:
for i in range(1, 8):
    print("{} + {} = {}".format(i, i , (i + i)))

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8
5 + 5 = 10
6 + 6 = 12
7 + 7 = 14

In [27]:
for i in range(1, 8):
    print("{} * {} = {}".format(i, i , (i * i)))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49

In [33]:
for i in range(1, 8):
    print("%.2f + %.2f = %d" % (i, i, (i +i)))

1.00 + 1.00 = 2
2.00 + 2.00 = 4
3.00 + 3.00 = 6
4.00 + 4.00 = 8
5.00 + 5.00 = 10
6.00 + 6.00 = 12
7.00 + 7.00 = 14

In [42]:
tup1 = ((2, 3, 4), (400, 600, 800), ("cat", "dog", "pig"))

for i in range(2):
    #tupple unoackageing
    for x, y, z in tup1:
        print(x, y, z)

2 3 4
400 600 800
cat dog pig
2 3 4
400 600 800
cat dog pig

In [71]:
cakes = ['chocolate', 'lemon', 'vanila', 'carrot']

d1 = {"k1" : tuple(cakes), "k2" : [300, 400, 500, 600]}

for i in d1:
    for x in range(len(d1["k1"])):
        if(isinstance(d1[i][x], str)):
            d = d1[i][x].capitalize()
        else:
            d = d1[i][x]
            
        print(i, ":", d)

k1 : Chocolate
k1 : Lemon
k1 : Vanila
k1 : Carrot
k2 : 300
k2 : 400
k2 : 500
k2 : 600

In [78]:
cats
endanger = ["critical", "very critical", "Worst"]

for c in range(3):
    print(cats[c].capitalize(), "\n Level: \n", endanger[c].upper())

Tiger
 Level:
 CRITICAL
Luion
 Level:
 VERY CRITICAL
Leopard
 Level:
 WORST

In [80]:
num = 5 ; cake = 12

while num < 20:
    while cake < 17:
        print("{0} + {1} = {2}".format(num, cake, (num + cake)))
        
        num += 1 ; cake +=1

5 + 12 = 17
6 + 13 = 19
7 + 14 = 21
8 + 15 = 23
9 + 16 = 25

KeyboardInterrupt:

In [81]:
lang = ["C", "Java", "JavaScript", "C#", "C++"]

i = 0

while i < len(lang):
    print(lang[i]) ; i += 1

C
Java
JavaScript
C#
C++

In [84]:
for i in lang:
    print(i)

C
Java
JavaScript
C#
C++

In [90]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Sun Jan 24 10:46:58 2021

In [100]:
for num in range(40):
    if num > 10 and num <= 20:
        if num == 15:
            pass
        print(num)

11
12
13
14
15
16
17
18
19
20

In [103]:
# ZIP and Enumerate

for n in enumerate(range(10, 40, 5), 100):
    print(n)

(100, 10)
(101, 15)
(102, 20)
(103, 25)
(104, 30)
(105, 35)

In [141]:
a = 0;
for n in range(10, 40, 5):
    a +=1
    print(100 + a, n)

101 10
102 15
103 20
104 25
105 30
106 35

In [142]:
tup1 = (33, 45, 39)

mylist = [45, 23, 15]

z = zip(tup1, mylist)

In [136]:

for a, b in z:
    print(a + b )

In [138]:
for i  in range(3):
    print(tup1[i] + mylist[i])

78
68
54

In [143]:
groceries = ['chocolate', 'yoghurt', 'cereals', 'groudnut']

prices = [3, 4.56, 56, 3.67]

for i in range(4):
    print(groceries[i], "=", prices[i])

chocolate = 3
yoghurt = 4.56
cereals = 56
groudnut = 3.67

In [147]:
z_shop = zip(groceries, prices)

for g, p in z_shop:
    print(g, "=", p)

chocolate = 3
yoghurt = 4.56
cereals = 56
groudnut = 3.67

In [152]:
numbers = list(range(10,70, 10))
numbers
val = [2, 5]

import itertools
from itertools import cycle as cy

zip_val = list(zip(numbers, cy([val[0]]), cy([val[1]])))

zip_val

[(10, 2, 5), (20, 2, 5), (30, 2, 5), (40, 2, 5), (50, 2, 5), (60, 2, 5)]

In [154]:
calc = []
for n, v1, v2 in zip_val:
    calc.append(n * v1) ;  calc.append(n * v2)

calc

[20, 50, 40, 100, 60, 150, 80, 200, 100, 250, 120, 300]

In [ ]:
numbers = list(range(0, 110, 10))
numbers = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
first = []
for num in numbers:
    s = num *2.5
    if s % 2 == 0:
        first.append(int(s))
first

In [172]:
first.clear()
num = 0

while num < len(numbers):
    s = numbers[num] *2.5
    if s % 2 == 0:
        first.append(int(s))
    num +=1
    
first
#len(numbers)

[0, 50, 100, 150, 200, 250]

In [175]:
rep = ["Joe", "K", "Mike", "Joi", "Luv", "Deckard", "Wallace", "Rachel"]

In [188]:
for x in rep:
    if x == "Joe" or x == "Joi" or x == "Luv" or x == "Rachel":
        print(x, "is a replicant")
    elif x != "K":
        print(x, "is NOT a replicant")

Joe is a replicant
Mike is NOT a replicant
Joi is a replicant
Luv is a replicant
Deckard is NOT a replicant
Wallace is NOT a replicant
Rachel is a replicant

# 
# DESIRED OUTPUT
# Human
# Question
# Question
# CELL WITHIN CELLS
Question
INTERLINKED
Question
CELL
Question
CELL WITHIN CELLS
Question
CELL WITHIN CELLS
Question
INTERLINKED
Question
CELL
Question
CELL WITHIN CELLS
Time to Finish
HINTS?
1. Use a for loop with range to repeat while loop
2. Use k += 1 with while loop and k < 8.
3. Use if, 2 elif statements, and an else statement in your while loop.
4. Total of 6 different print statements. 4 are inside the while loop.

In [ ]:
# Add Code Here
for r in range(2):
    # Add Code Here
    # Add Code Here
        # Add Code VV
            k % 2 == 0:
                print("Question")
                
        # Add Code VV
            k > 3 and k < 7:
                print("CELL")
                
        # Add Code VV
            k == 3:
                print("INTERLINKED")
        # Add Code HERE
            print("CELL WITHIN CELLS")
        # Add Code HERE!!!
# Add Code Here